<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/listadoBandas.css">
    <title>Document</title>
</head>
<body>
   

    <div class="totalbands">

        <%  bandasArray.forEach(element => {%>
            <a class="eachband" href="/bandas/<%=element.id%>">
                <img src="/images/3.jpg" alt="">
                <div class="data">
                    <h1> <%=element.nombre%></h1>
                    <h4 class="integrantes">Integrantes:<%=element.integrantes%></h4>
                    <h4 class="genero">Genero musical:<%=element.genero  %></h4>
                    <h4 class="topCanciones">Top Hits:<%=element.topCanciones  %></h4>
                </div>
        </a>
      <%  });%>
       
    </div>
</body>
</html>